OpenTK - Pong/bin/Debug/OpenTK - Pong.exe.config
OpenTK - Pong/bin/Debug/OpenTK - Pong.vshost.exe.config
OpenTK - Pong/bin/Debug/OpenTK - Pong.vshost.exe.manifest
OpenTK - Pong/bin/Debug/OpenTK.Compatibility.xml
OpenTK - Pong/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
OpenTK - Pong/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
OpenTK - Pong/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
OpenTK - Pong/obj/Debug/OpenTK - Pong.csproj.FileListAbsolute.txt
OpenTK - Pong/bin/Debug/OpenTK.xml
OpenTK - Pong/bin/Debug/OpenTK.GLControl.xml